@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Lato|Slabo+27px|Josefin+Slab:400,700);

/******** general style *************/

input[type="checkbox"] {
  display: none;
}

html {
  box-sizing: border-box;
  font-family: 'Josefin Slab', sans-serif;
  font-size: 62.5%;
}

label {
  -moz-perspective: 100rem;
  -moz-transform: translate(-50%, -50%);
  -webkit-perspective: 100rem;
  -webkit-transform: translate(-50%, -50%);
  height: 37.5rem;
  left: 50%;
  perspective: 100rem;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  width: 63rem;
}

header {
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  position: relative;
  text-align: left;
  width: 30rem;
}

header h1 {
  color: #92cdcf;
  font-size: 3.5rem;
  line-height: 30%;
}

header h4 {
  color: #445878;
  font-size: 1.6rem;
  line-height: 30%;

}

/******* style for over card ********/
.card {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  height: 37.5rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 63rem;
}

/****** style for front card ********/
.card__front {
  -webkit-transform: rotateY(0deg);
  background-image: url("images/bg2.png");
  color: #ffffff;
  height: 100%;
  position: relative;
  width: 100%;

}

/******* style for back card *********/
.card__back {
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  background-image: url("images/siouxfalls.jpg");
  height: 37.5rem;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateX(180deg);
  width: 63rem;
}

/****** set style visibility & border radius for front & back card *****/
.card__back, .card__front {
  -moz-backface-visibility: hidden;
  -moz-border-radius: 0.5rem;
  -moz-transition: box-shadow 1s;
  -webkit-backface-visibility: hidden;
  -webkit-border-radius: 0.5rem;
  -webkit-transition: box-shadow 1s;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  transition: box-shadow 1s;

}

/******** transform card 180deg when checkbox checked *****/
label [type="checkbox"]:checked + .card {
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/******** transform card 160deg when card hovered *****/
label:hover [type="checkbox"]:checked + .card {
  -moz-transform: rotateX(160deg);
  -webkit-transform: rotateX(160deg);
  transform: rotateX(160deg);
}
/***** set shadow for front card when hover *****/
label:hover .card__front {
  -moz-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
  webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

/***** set shadow for back card when hover *****/
label:hover .card__back {
  -moz-box-shadow: 0 -6px 26px 0 rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 -6px 26px 0 rgba(0,0,0,0.3);
  box-shadow: 0 -6px 26px 0 rgba(0,0,0,0.3);
}

/***** rotate card 16deg when hover *****/
label:hover .card {
  -moz-transform: rotateX(16deg);
  -webkit-transform: rotateX(16deg);
  transform: rotateX(16deg);
}


/********* Content ***********/

.card__main-content {
  font-size: 2rem;
  position: relative;
  text-align: left;
  width: 60rem;
}

.card__main-content p {
  color: #8595a7;
  letter-spacing: 0.2px;
  line-height: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-top: 1rem;
  text-align: left;
}

.card__main-content span {
  color: #49bcd8;
  font-weight: bold;
}

.card__main-content a {
  color: #8595a7;
  font-size: 1.4rem;
  padding-left: 2.5rem;
  text-decoration: none;
}

.card__main-content a:hover {
  color: rgba(204, 229, 255, 0.7);
}

/****** style for rotate icon in the front *******/
.card__front--flip {
  border-radius: 0.5rem;
  cursor: pointer;
  height: 4rem;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 2rem;
  width: 4rem;
}
/****** style for rotate icon in the back *******/
.card__back--flip {
  border-radius: 0.5rem;
  cursor: pointer;
  height: 4rem;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 2rem;
  width: 4rem;
}

/****** style for footer ********/
footer {
  bottom: 3rem;
  display: inline-flex;
  font-size: 1.4rem;
  padding-left: 2.5rem;
  position: absolute;
  width: 60rem;
}

footer a {
  color: #942fff;
  padding-right: 1rem;
  text-decoration: none;
}

footer a:hover {
  color: rgb(184, 65, 255);
}

footer span {
  color: #8595a7;
}

footer > div {
  padding-top: 0.8rem;
}

footer .card__icons {
  padding-left: 24rem;
}
